.border-top-color-purple{
    border-top-color:#9C27B0;
    border-top-width: 5px;
    border-top-style: solid;
}
.border-top-color-orange{
    border-top-color:#FF9800;
    border-top-width: 5px;
    border-top-style: solid;
}
.border-top-color-green{
    border-top-color:#4CAF50;
    border-top-width: 5px;
    border-top-style: solid;
}
.border-top-color-lightblue{
    border-top-color:#03A9F4;
    border-top-width: 5px;
    border-top-style: solid;
}

.time-table-item{
    /*width:350px;*/
}

.time-table-item h2{
    margin-top:0;
}